* {
	scroll-behavior: smooth;
}

.container {
	max-width: 100%;
}

body {
	margin: 0 auto;
	background-color: #F6F3EF;
}

/*----------Header----------*/

.166_279 { 
	overflow:hidden;
}
.e166_279 { 
	width:1519px;
	height:538px;
	position:absolute;
	animation: slideInLeft 1s ease-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.e28_13 { 
	background-color:rgba(0, 0, 0, 0.10000000149011612);
	width:1519px;
	height:538px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(/images/rectangle_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_14 { 
	color:rgba(255, 255, 255, 1);
	width:1117px;
	height:84px;
	position:absolute;
	left:305px;
	top:203px;
	font-family:Bahnschrift;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}

.coursmisenligne {
	position: absolute;
	left: 100px;
	top:680px;
	font-family:Bahnschrift;
	font-size:38px;
}

/*----------Nav Bar----------*/

nav a {
  background-image: linear-gradient(
    to right,
    #E3312D,
    #4E3E91 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

nav a:before{
  content: '';
  background: linear-gradient(to right, #E3312D, #4E3E91) border-box;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
 background-position: 0;
}

nav a:hover::before{
  width: 80%;
}

.e65_815 { 
	width:100%;
	height:100px;
}

.ei65_815_33_487 { 
	width:323px;
	height:56px;
	position:absolute;
	left:100px;
	top:10px;
	background-image:url(/images/logo_sc_super_cours_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.ei65_815_33_492 { 
	width:702px;
	height:36px;
	position:absolute;
	left:785px;
	top:25px;
}

.ei65_815_33_488 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Bahnschrift;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	text-decoration: none;
}

.ei65_815_33_489 { 
	color:rgba(0, 0, 0, 1);
	width:164px;
	height:36px;
	position:absolute;
	left:295px;
	top:0px;
	font-family:Bahnschrift;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	text-decoration: none;
}

.ei65_815_33_491 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:36px;
	position:absolute;
	left:529px;
	top:0px;
	font-family:Bahnschrift;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	text-decoration: none;
}

.ei65_815_33_588 { 
	color:rgba(0, 0, 0, 1);
	width:225px;
	height:36px;
	position:absolute;
	left:350px;
	top:0px;
	font-family:Bahnschrift;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	text-decoration: none;
}

.ei65_815_33_589 { 
	color:rgba(0, 0, 0, 1);
	width:164px;
	height:36px;
	position:absolute;
	left:500px;
	top:0px;
	font-family:Bahnschrift;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	text-decoration: none;
}


/*----------Connexion page----------*/

.goToconnect {
	text-decoration: none;
	color: black;
	position: absolute;
	left: 100px;
	top: 960px;
	font-family:Bahnschrift;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 530px;
	height: 50px;
	font-size: 28px;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #E3312D, #4E3E91) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
}

.e38_222 { 
	width:529px;
	height:22px;
	top: 920px;
	left: 100px;
	position:absolute;
	overflow:hidden;
}

.e38_233 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:254px;
	top:0px;
	font-family:Bahnschrift;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}

.e38_profil {
	font-family:Bahnschrift;
	position: absolute;
	left: 0px;
	top: 435px;
	opacity: 0.5;
}

.form_connect .btn_login {
	width: 530px;
	height: 50px;
	margin-top: 30px;

	font-size: 28px;
	color: white;
	background: linear-gradient(90deg, rgba(227, 49, 45, 0.8) 0%, rgba(78, 62, 145, 0.8) 100%);
	border-radius: 10px;
}

/*----------Inscription page----------*/

.e38_201 { 
	background-color:rgba(246.0000005364418, 243.00000071525574, 239.00000095367432, 1);
	width:712px;
	height:1117px;
	border-radius:Symbol(figma.mixed)px;
	border-radius: 10px;
}

.e38_174 { 
	background-image:url(/images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.e38_188 { 
	color:rgba(255, 255, 255, 1);
	width:811px;
	height:187px;
	font-family:Bahnschrift;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
	position: absolute;
	left: 700px;
	top: 478px;
}

.e38_175 { 
	width:315px;
	height:55px;
	position: absolute;
	left: 91px;
	top: 53px;
	background-image:url(/images/logo_sc_super_cours_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.e38_176 { 
	color:rgba(0, 0, 0, 1);
	width:169px;
	height:43px;
	font-family:Bahnschrift;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	left: 270px;
	top: 200px;
	position: absolute;
}

.form_connect {
	position: absolute;
	left: 100px;
	top: 300px;
}

.form_connect input {
	width: 527px;
	height: 50px;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #E3312D, #4E3E91) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    margin-top: 30px;
}

.form_connect .btn_register {
	width: 530px;
	height: 50px;
	margin-top: 55px;

	font-size: 28px;
	color: white;
	background: linear-gradient(90deg, rgba(227, 49, 45, 0.8) 0%, rgba(78, 62, 145, 0.8) 100%);
	border-radius: 10px;
}

.e38_540 {
	font-family:Bahnschrift;
	font-size:26px;
}

.form_connect .checkbox {
	width: 30px;
	height: 20px;
}

.e38_202 { 
	width:529px;
	height:22px;
	top: 635px;
	left: 100px;
	position:absolute;
	overflow:hidden;
}

.e38_203 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:254px;
	top:0px;
	font-family:Bahnschrift;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}

.goToregister {
	text-decoration: none;
	color: black;
	position: absolute;
	left: 100px;
	top: 680px;
	font-family:Bahnschrift;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 530px;
	height: 50px;
	font-size: 28px;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #E3312D, #4E3E91) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
}

.upload_avatar {
	position:absolute;
	top: 0;
	left: 230px;
}

.e70_378 { 
	background-color:rgba(255, 255, 255, 1);
	width:529px;
	height:80px;
	top: 450px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	position:absolute;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #E3312D, #4E3E91) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
}

.ei70_378_38_137 {
	opacity: 0.7;
}

/*----------AjouterUnCour page----------*/

.113_272 { 
	overflow:hidden;
}
.e113_272 { 
	width:800px;
	height:232px;
	padding: 600px 0 0 0;
	position: relative;
	animation: slideInRight 1s ease-out;
}
.e51_193 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:1519.5px;
	height:232px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(/images/rectangle_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e51_169 { 
	color:rgba(255, 255, 255, 1);
	width:764px;
	height:84px;
	position:absolute;
	left:400px;
	top:74px;
	font-family:Bahnschrift;
	text-align:center;
	font-size:70px;
	letter-spacing:0;
}

.52_200 { 
	overflow:hidden;
}

.e52_200 { 
	top: 400px;
	left: 250px;
	position:absolute;
}

.e51_171 { 
	background-color:rgba(255, 255, 255, 1);
	width:1000px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}

.e51_172 { 
	background-color:rgba(255, 255, 255, 1);
	width:1000px;
	height:50px;
	position:absolute;
	left:0px;
	top:74px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}

.e51_172_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1000px;
	height:50px;
	position:absolute;
	left:0px;
	top:150px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}

.e52_199 { 
	width:1000px;
	height:100px;
	position:absolute;
	left:0px;
	top:230px;
}

.e52_1999 { 
	width:1000px;
	height:100px;
	position:absolute;
	left:0px;
	top:360px;
}

.e51_173 { 
	border: 2px solid;
	background-color:rgba(255, 255, 255, 1);
	width:1000px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}

.e51_173_2 { 
	opacity: 0.7;
	z-index: 1;
	position:absolute;
	top: 50px;
}

.ei51_173_38_137 { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:90px;
	height:24px;
	position:absolute;
	left:22px;
	top:13px;
	font-family:Bahnschrift;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}

.e71_1795 { 
	background-image:linear-gradient(90deg, rgba(227.00000166893005, 49.00000087916851, 45.00000111758709, 1) 0%,rgba(78.00000295042992, 62.00000010430813, 145.00000655651093, 1) 100%) ;
	width:1000px;
	height:46px;
	position:absolute;
	left:0px;
	top:490px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}

.ei71_1795_71_1468 { 
	color:rgba(255, 255, 255, 1);
	width:149px;
	height:26px;
	position:absolute;
	left:425.5px;
	top:10px;
	font-family:Bahnschrift;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}

.upload_pdf {
	z-index: 1;
	position:absolute;
	top: 20px;
	left: 470px;
}

/*----------cours----------*/


.box {
	flex-wrap: wrap;
	display: flex; 
	width: 100%;
	padding: 670px 0 0 0;
}

.rectangle9 {
	height:400px;
	width:367px;
	border-radius:15px;
	border:1px solid;
	margin: 50px 0 0 100px;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #E3312D, #4E3E91) border-box;
    border: 1px solid transparent;
}

.rectangle10 {
	background-color:#ffffff;
	height:250px;
	width:367px;
	border-radius:15px 15px 0px 0px;
}

.filters {
	display: flex; 
}

.category {
	padding: 2px 18px 0px;
	gap: 10px;
	text-align: center;
	width: 80px;
	height: 24px;
	margin-left: 20px;
	border-radius: 13.5px;
	font-family:Bahnschrift;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #E3312D, #4E3E91) border-box;
    border: 1px solid transparent;
}

.level {
	padding: 2px 18px 0px;
	gap: 10px;
	text-align: center;
	width: 80px;
	height: 24px;
	margin-left: 20px;
	border-radius: 13.5px;
	font-family:Bahnschrift;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #E3312D, #4E3E91) border-box;
    border: 1px solid transparent;
}

.titre {
	margin: 30px 0 0 0;
	font-family:Bahnschrift;
	font-size: 22px;
	text-align: center;
}

.bouton {
	padding: 5px 60px;
	gap: 10px;
	width: 225px;
	height: 26px;
	margin: 15px 0 0 10px;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #E3312D, #4E3E91) border-box;
    border: 1px solid transparent;
	border-radius: 15px;
}

.bouton a {
	padding: 0 0 0 50px;
	color: #000000;
	font-family:Bahnschrift;
	font-size: 22px;
	text-decoration: none;
}

.bouton:hover {
	background: linear-gradient(to right, #4E3E91, #E3312D);
	border-color: #4E3E91;
	animation: pulse 1s infinite;
}

.bouton:hover a {
	color: #FFFFFF;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.profil {
	position: absolute; 
	border-radius:500px;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #E3312D, #4E3E91) border-box;
    border: 1px solid transparent;
	width:60px;
	height:60px;
	margin: 180px 0 0 10px;
}

.profil:hover {
	animation-name: rotation;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

/*----------userpage----------*/

.147_272 { 
	overflow:hidden;
}

.e147_272 { 
	width:1519px;
	height:232px;
	position:absolute;
}

.e58_1090 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:232px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

.e58_1088 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:180px;
	height:170px;
	position:absolute;
	left:43px;
	top:35px;
	animation-name: rotation;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.e68_271 { 
	color:rgba(0, 0, 0, 1);
	width:1000px;
	height:72px;
	position:absolute;
	left:243px;
	top:80px;
	font-family:Bahnschrift;
	font-size:60px;
	letter-spacing:0;
	line-height:50px;
}

.follow {
	position: absolute;
	left: 1000px;
	top: 0;
}

.follow img {
	width: 100px;
	height: 100px;
}


.follow img:hover {
	animation: pulse 1s infinite;
}

.suivis { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:170px;
	height:170px;
	margin: 450px 0 0 0;
}

.suivis:hover { 
	animation: pulse 1s infinite;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #E3312D, #4E3E91) border-box;
    border: 1px solid transparent;
}

.suivre {
	margin: 0 0 -450px 100px;
}

.suivre h1 {
	top: 380px;
	left: 100px;
	position: absolute;
	font-family: 'Bahnschrift';
	font-size: 38px;
}

.follow_name {
	text-decoration: none;
	color: black;
	font-family:Bahnschrift;
	text-align:center;
	display: block;
	font-size: 25px;
}

.voscours {
	top: 860px;
	left: 100px;
	position: absolute;
	font-family: 'Bahnschrift';
	font-size: 38px;
}

/*----------404----------*/

.error_404 { 
	background-image:url("/images/rectangle_12.png");
	background-repeat:no-repeat;
	background-size:cover;
}

.error_text { 
	margin: 100px 0 0 150px;
	font-family: 'Bahnschrift';
	font-style: normal;
	font-weight: 300;
	font-size: 84px;
	line-height: 130px;
}

.error_text span { 
	font-weight: 700;
	font-size: 200px;
	background: linear-gradient(89.92deg, #E3312D 0.03%, #4E3E91 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.e39_226 { 
	display: block;
	color:rgba(0, 0, 0, 1);
	margin: 30px 0 0 150px;
	font-family:Bahnschrift;
	font-size:28px;
	letter-spacing:0;
}

.btn_return {
	display: block;
	font-size: 28px;
	color: #000000;
	text-decoration: none;
	margin: 30px 0 0 150px;

	padding: 8px 28px ;

	width: 90px;
	height: 35px;

	background: #FFFFFF;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #E3312D, #4E3E91) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
}


/*----------footer----------*/

.ei33_386_33_372 { 
	color: black;
	width:1514px;
	height:0px;
	background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #E3312D, #4E3E91) border-box;
    border-radius: 10px;
    border: 3px solid transparent;
}

.e58_1160 { 
	width:1400px;
	height:44px;
	margin: 100px 0 0 0; 
	display: block;
}

.ei58_1160_33_373 { 
	color:rgba(0, 0, 0, 1);
	width:522px;
	height:18px;
	font-family:Bahnschrift;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}